@model WebApp.Models.CourseViewModel


    <tr>
        <td>
            @Html.DisplayFor(model => model.Id)
            <input name="Student.Courses[@ViewBag.SerialNumber].Id" value="@Model.Id" hidden />
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td >
            @Html.DisplayFor(model => model.Espb)
        </td>
    </tr>


